<div id="<%= dom_id tip_calculation %>">
  <p>
    <strong>Bill amount:</strong>
    <%= tip_calculation.bill_amount %>
  </p>

  <p>
    <strong>Tip percentage:</strong>
    <%= tip_calculation.tip_percentage %>
  </p>

  <p>
    <strong>Tip amount:</strong>
    <%= tip_calculation.tip_amount %>
  </p>

  <p>
    <strong>Total bill:</strong>
    <%= tip_calculation.total_bill %>
  </p>

  <p>
    <strong>Num people:</strong>
    <%= tip_calculation.num_people %>
  </p>

  <p>
    <strong>Per person amount:</strong>
    <%= tip_calculation.per_person_amount %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= tip_calculation.timestamp %>
  </p>

</div>
